{% with url_name=request.resolver_match.url_name %}
<nav id="sidebar" class="sidebar js-sidebar">
  
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{% url 'index' %}">
        <span class="align-middle">SodaKings</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Account
            </li>

            <li class="sidebar-item {% if url_name == 'index' %}active{% endif %} ">
                <a class="sidebar-link " href="{% url 'index' %}">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item {% if url_name == 'edit' %}active{% endif %}">
                <a class="sidebar-link" href="{% url 'account:edit' %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                </a>
            </li>


            <li class="sidebar-header">
                Stock & Products
            </li>

            <li class="sidebar-item  {% if url_name == 'listing' %}active{% endif %} ">
                <a class="sidebar-link" href="{% url 'product:listing' %}">
                    <i class="align-middle" data-feather="package"></i> <span class="align-middle">Product</span>
                </a>
            </li>

            <li class="sidebar-item {% if url_name == 'stock_listing' %}active{% endif %} ">
                <a class="sidebar-link" href="{% url 'product:stock_listing' %}">
                    <i class="align-middle" data-feather="home"></i> <span class="align-middle">Stock</span>
                </a>
            </li>

 
            
            <li class="sidebar-header">
                transactions
            </li>

            <li class="sidebar-item  {% if url_name == 'purchase' %}active{% endif %} ">
                <a class="sidebar-link" href="{% url 'txn:purchase' %}">
                    <i class="align-middle" data-feather="truck"></i> <span class="align-middle">Purchase</span>
                </a>
            </li>

            <li class="sidebar-item {% if url_name == 'sales' %}active{% endif %}">
                <a class="sidebar-link" href="{% url 'txn:sales' %}">
                    <i class="align-middle" data-feather="activity"></i> <span class="align-middle">Sells</span>
                </a>
            </li>


     

            <li class="sidebar-header">
                Action
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="">
                    <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Logout</span>
                </a>
            </li>

 
        </div>
    </nav>
    {% endwith %}